.others-message-names {
  height: 50px;
  width: 50px;
  margin-right: 0.5em;
  border: 2px solid #e5e6ea;
  border-radius: 25px;
  text-align: center;
  font-size: 18pt;
  padding-top: 5px;
}

.message {
  padding: 1em;
  border-radius: 1em;
  max-width: 60%;
}

.message-datetime {
  font-size: xx-small;
}
.message-text {
 font-size: large; 
}