.chat-header {
  align-items: center;
  background-color: #00b8d894;
  width: 100%;
  height: vh;
  height: calc(var(--vh, 1vh) * 10) !important;
  overflow: hidden;
  top: 0px;
}
.xx-large {
  font-size: xx-large;
}

.user-welcome {
  font-size: xxx-large;
  color: aliceblue;
  margin-left: 32%;
}
